certifi==2018.8.24
chardet==3.0.4
cycler==0.10.0
docutils==0.14
idna==2.7
Kivy==1.10.1
Kivy-Garden==0.1.4
kivy.deps.angle==0.1.7
kivy.deps.glew==0.1.10
kivy.deps.gstreamer==0.1.13
kivy.deps.sdl2==0.1.18
kiwisolver==1.0.1
matplotlib==2.2.3
numpy==1.15.1
Pygments==2.7.4
pyparsing==2.2.0
pypiwin32==223
python-dateutil==2.7.3
pytz==2018.5
pywin32==223
requests==2.19.1
six==1.11.0
urllib3==1.23
